

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-y: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
 h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
  color: #2d2d2d;
}

